extends layout

block content
  .navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse")
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.title(href="/") Road Trip
      .collapse.navbar-collapse#navbar-collapse
        form.navbar-form.navbar-right
          .form-group
            input.form-control(type="text", name="from", id="from", value="", placeholder="From")
          .form-group
            input.form-control(type="text", name="to", id="to", value="", placeholder="To")
          .icon-group
            img.select-category#restaurant(src="/images/pins/restaurant_marker.png", 
              data-toggle="tooltip" data-placement="bottom" title="Toggle show restaurants")
            img.select-category#beer(src="/images/pins/beer_marker_white.png", 
              data-toggle="tooltip" data-placement="bottom" title="Toggle show nightlife")
            img.select-category#active(src="/images/pins/active_marker_white.png", 
              data-toggle="tooltip" data-placement="bottom" title="Toggle show recreational sites")
            img.select-category#entertainment(src="/images/pins/entertainment_marker_white.png", 
              data-toggle="tooltip" data-placement="bottom" title="Toggle show entertainment")
          button.btn.btn-danger(type="submit", id="submitRoute") Generate
    #loading-alert.alert.alert-default.alert-loading
      .alert-default-content
        .container.text-center.
          #[strong #[i.fa.fa-spinner.fa-pulse] Heads up!] 
          We're loading the results for you now... it may take a while depending on the length of the trip.
      .alert-default-progress .

  #map

  #intro.modal.fade
    .modal-dialog
      .modal-content
        .modal-body
          .text-center: h1.title Road Trip
          p Discover great places along your trip. Road Trip uses Google Maps and Yelp to create a route and show you top-rated spots on the way to your destination.
          h4 Add Your Route
          p Start by adding your starting location and your destination. We use Google Places to suggest cities for you to use. #[strong Note* Only US and Canadian cities are currently supported].
          h4 Select Your Categories
          p Select from four place categories to populate the map. We'll add top rated locations close to your route. 
          h4 Generate Your Trip
          p Click generate to create an itinerary. You'll need to be patient, as Road Trip is working with a lot of data to generate and place markers on the map. 
          p To learn more about how Road Trip works under the hood, click #[a(href="https://medium.com/@tsurantino/building-road-trip-35ede79e0a25") here].
          hr
          .text-center
            button.btn.btn-success(data-dismiss="modal") Sounds good, let's go!          

block extra_scripts
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places")
  script(src="/javascripts/roadtrip.js")