extends layout

block content
  .navbar.navbar-default
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse")
        a.navbar-brand(href="/") Roadtrip
      .collapse.navbar-collapse#navbar-collapse
        form.navbar-form.navbar-right
          .form-group
            label(for="from") From
            input.form-control(type="text", name="from", id="from")
          .form-group
            label(for="to") To
            input.form-control(type="text", name="to", id="to")
          button.btn.btn-primary(type="submit", id="submitRoute") Submit
  #map

block extra_scripts
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp')
  script(src="https://maps.googleapis.com/maps/api/js?libraries=places")
  script.
    var initialLoc;
    var map;
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var geocoder = new google.maps.Geocoder();

    function getLoc(next) {
      var geoSuccess = function(position) {
        initialLoc = position;
        next();
      }

      // initial loc
      navigator.geolocation.getCurrentPosition(geoSuccess);
    }

    function initialize() {
      // autocomplete
      var from_autocomplete = new google.maps.places.Autocomplete(
        document.getElementById('from'), 
        { types: ['(cities)'], }
      );

      var to_autocomplete = new google.maps.places.Autocomplete(
        document.getElementById('to'), 
        { types: ['(cities)'], }
      );

      // map
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: new google.maps.LatLng(initialLoc.coords.latitude, initialLoc.coords.longitude),
      });

      // directions
      directionsDisplay = new google.maps.DirectionsRenderer();
      directionsDisplay.setMap(map);
      //directionsDisplay.setPanel(document.getElementById('directions'));
    }

    function calcRoute() {
      var start = document.getElementById('from').value;
      var end = document.getElementById('to').value;

      var request = {
        origin: start,
        destination: end,
        travelMode: google.maps.TravelMode.DRIVING
      };
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);

          // we don't look at alternative routes, and, because we
          // avoid waypoints, we only have a single leg in the journey
          steps = response.routes[0].legs[0].steps;
          if (steps) {
            distance = 0;
            for (var i = 0; i < steps.length; i++) {
              for (var j = 0; j < steps[i].path.length; j++) {
                console.log(steps[i].path[j]);
              }
            }
          }          
        }
      });
    }

    google.maps.event.addDomListener(window, 'load', getLoc(initialize));

    $('#submitRoute').click(function(event) {
      event.preventDefault();
      calcRoute();
    });
    
    function getCity(location, i) {
      setTimeout(function () {
        geocoder.geocode({'location': location}, function(results, status) {
          console.log(status);
          if (status == google.maps.GeocoderStatus.OK && results[1]) {
            $.each(results, function(i, address) {
              if (address.types[0] == 'locality')
                console.log(address.formatted_address);
            });
          }
        });
      }, i * 2000);
    }

      