extends layout

block content
  .navbar.navbar-default
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse")
        a.navbar-brand(href="/") Roadtrip
      .collapse.navbar-collapse#navbar-collapse
        form.navbar-form.navbar-right
          .form-group
            label(for="from") From
            input.form-control(type="text", name="from", id="from")
          .form-group
            label(for="to") To
            input.form-control(type="text", name="to", id="to")
          button.btn.btn-primary(type="submit", id="submitRoute") Submit
  #map

block extra_scripts
  script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places")
  script.
    var initialLoc;
    var map;
    var directionsDisplay;
    var directionsService = new google.maps.DirectionsService();
    var geocoder = new google.maps.Geocoder();

    function getLoc(next) {
      var geoSuccess = function(position) {
        initialLoc = position;
        next();
      }

      // initial loc
      navigator.geolocation.getCurrentPosition(geoSuccess);
    }

    function initialize() {
      // autocomplete
      var from_autocomplete = new google.maps.places.Autocomplete(
        document.getElementById('from'), 
        { types: ['(cities)'], }
      );

      var to_autocomplete = new google.maps.places.Autocomplete(
        document.getElementById('to'), 
        { types: ['(cities)'], }
      );

      // map
      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: new google.maps.LatLng(initialLoc.coords.latitude, initialLoc.coords.longitude),
      });

      // directions
      directionsDisplay = new google.maps.DirectionsRenderer();
      directionsDisplay.setMap(map);
      //directionsDisplay.setPanel(document.getElementById('directions'));

      // markers
      addMarkers(sampleData = [
        {
          title: 'Kintako Japanese Restaurant',
          img_url: 'http://s3-media3.fl.yelpcdn.com/bphoto/speq8dyeJzlc7KLXj0njqw/ms.jpg',
          rating_url: 'http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png',
          address: '214 Laird Drive, Suite 101, Toronto, ON M4G 3W4, Canada',
          coords: [43.711754, -79.364118],
          url: 'http://www.yelp.ca/biz/kintako-japanese-restaurant-toronto',
          brief_descrip: 'Dinner started with a free noodle soup was so good we had to ask for seconds (which they most generously provided)',
          type: 'restaurant',
        },
        {
          title: 'Sudbury',
          img_url: 'http://s3-media3.fl.yelpcdn.com/bphoto/speq8dyeJzlc7KLXj0njqw/ms.jpg',
          rating_url: 'http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png',
          address: '214 Laird Drive, Suite 101, Toronto, ON M4G 3W4, Canada',
          coords: [43.642211, -79.421912],
          url: 'http://www.yelp.ca/biz/kintako-japanese-restaurant-toronto',
          brief_descrip: 'Dinner started with a free noodle soup was so good we had to ask for seconds (which they most generously provided)',
          type: 'attraction',
        },
        {
          title: 'Kingston',
          img_url: 'http://s3-media3.fl.yelpcdn.com/bphoto/speq8dyeJzlc7KLXj0njqw/ms.jpg',
          rating_url: 'http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png',
          address: '214 Laird Drive, Suite 101, Toronto, ON M4G 3W4, Canada',
          coords: [43.689214, -79.268691],
          url: 'http://www.yelp.ca/biz/kintako-japanese-restaurant-toronto',
          brief_descrip: 'Dinner started with a free noodle soup was so good we had to ask for seconds (which they most generously provided)',
          type: 'restaurant',
        },
      ]);

      // geocoder
      geocoder = new google.maps.Geocoder();
    }

    function calcRoute() {
      clearMarkers();

      var start = document.getElementById('from').value;
      var end = document.getElementById('to').value;

      var request = {
        origin: start,
        destination: end,
        travelMode: google.maps.TravelMode.DRIVING
      };
      directionsService.route(request, function(response, status) {
        if (status == google.maps.DirectionsStatus.OK) {
          directionsDisplay.setDirections(response);

          // we don't look at alternative routes, and, because we
          // avoid waypoints, we only have a single leg in the journey
          steps = response.routes[0].legs[0].steps;
          if (steps) {
            paths = [];
            for (var i = 0; i < steps.length; i++) {
              for (var j = 0; j < steps[i].path.length; j++) {
                //console.log(steps[i].path[j]);
                paths.push({
                  x: steps[i].path[j].G,
                  y: steps[i].path[j].K,
                });
              }
            }
            getNearbyPlaces(paths);
          }          
        }
      });
    }

    function getNearbyPlaces(paths) {
      $.ajax('http://localhost:3000/nearby-cities', {
        type: 'POST',
        data: JSON.stringify({paths: paths}),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data, status) {
          console.log(status);
          processResults(data["results"]);
        },
        error: function(jqXHR, status, error) {
          alert(status + ': ' + error);
        }
      });
    }

    function processResults(results) {
      processed = [];
      results.forEach(function(result) {
        result.forEach(function(location) {
          processed.push(location);
        });
      });
      addMarkers(processed);
    }

    markers = [];
    function addMarkers(locationData) {
      clearMarkers();
      locationData.forEach(function(location, i) {
        var infoWindow = new google.maps.InfoWindow({
          content:
            '<div class="container-fluid">' +
              '<h3>' + location.name + '</h3>' +
              '<div class="row">' +
                '<div class="col-sm-3">' +
                  '<div class="thumbnail">' +
                    '<img class="img-responsive" src="' + location.img_url + '">' +
                  '</div>' +
                '</div>' +
                '<div class="col-sm-9">' +
                  '<p><img src="' + location.rating_img_url + '"></p>' +
                  '<p><strong>Address: </strong>' + location.address + '</p>' +
                  '<p><strong>Description: </strong>' + location.brief_descrip + '</p>' +
                '</div>' +
              '</div>' +
              '<hr>' +
              '<div class="row">' +
                '<div class="col-sm-12">' +
                  '<p>Learn more by visiting: <a href="' + location.url + '">' + location.url + '</a></p>' +
                '</div>' +
              '</div>' +
            '</div>'
        });

        // set a delayed time out on each marker
        window.setTimeout(function() {
          var marker = new google.maps.Marker({
            position: new google.maps.LatLng(location.coords[0], location.coords[1]),
            map: map,
            title: location.title,
            animation: google.maps.Animation.DROP,
            /*icon: '/images/' + location.type + '.png',*/
          });

          google.maps.event.addListener(marker, 'click', function() {
            infoWindow.open(map, marker);
          });

          markers.push(marker);
        }, i * 200);
      });
    }

    function clearMarkers() {
      markers.forEach(function(marker) {
        marker.setMap(null);
      })
      markers = [];
    }

    google.maps.event.addDomListener(window, 'load', getLoc(initialize));

    $('#submitRoute').click(function(event) {
      event.preventDefault();
      calcRoute();
    });