@import url(http://fonts.googleapis.com/css?family=Pacifico);

html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  font-family: 'Pacifico', 'Arial', 'sans-serif';
}

.navbar-form input, button {
  margin: 0 5px;
}

.icon-group {
  display: inline-block;
}

.alert-default {
  color: #777777;
  background-color: #e5e5e5;
  border-color: #bbbbbb;
  border-radius: 0;
  position: relative;
}

.thin-alert {
  padding: 0.8em 0;
}

.no-margin {
  margin: 0;
}


/*#map {
  margin-right: 410px;
}

#directions {
  float: right;
  height: 100%;
  width: 400px;
  overflow: auto;
}*/

@media print {
  /* might be useful */
}