@import url(http://fonts.googleapis.com/css?family=Pacifico);

html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  margin-top: -54px;
}

.navbar {
  margin-bottom: 0;
}

.title {
  font-family: 'Pacifico', 'Arial', 'sans-serif';
  color: #777;
}

.navbar-form input, button {
  margin: 0 5px;
}

.icon-group {
  display: inline-block;
}

.alert-default {
  color: #5d5d5d;
  background-color: #e5e5e5;
  border-color: #bbbbbb;
  border-radius: 0;
  position: relative;
  height: 3.2em;
}

.alert-default-progress {
  background-color: #c9c9c9;
  color: #d9d9d9;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.alert-default-content {
  width: 100%;
  position: absolute;
  z-index: 1;
}

.alert-loading {
  padding: 0.8em 0;
  margin: 0;
  display: none;
}

#intro h1 {
  font-size: 5.2em;
  margin-bottom: 0.5em;
}


/*#map {
  margin-right: 410px;
}

#directions {
  float: right;
  height: 100%;
  width: 400px;
  overflow: auto;
}*/

@media print {
  /* might be useful */
}