html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-form input, button {
  margin: 0 5px;
}

/*#map {
  margin-right: 410px;
}

#directions {
  float: right;
  height: 100%;
  width: 400px;
  overflow: auto;
}*/

@media print {
  /* might be useful */
}